.OrderDetails .sections {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.OrderDetails .sections .section {
    width: calc(50% - 10px);
    height: fit-content;
    padding: 15px;
    border-radius: 7px;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .OrderDetails .sections {
        flex-direction: column;
    }

    .OrderDetails .sections .section {
        width: 100%;
    }
}

.OrderDetails .sections .section .timeLine-details {
    font-size: 14px;
}

.OrderDetails .sections .section .timeLine-details p {
    gap: 10px;
    display: flex;
    padding-bottom: 5px;
    align-items: center;
}

.OrderDetails .sections .section .timeLine-points {
    margin-top: 15px;
    text-align: center;
}

.OrderDetails .sections .section .timeLine-points .head img {
    width: 90px;
    height: 90px;
}

.OrderDetails .sections .section .timeLine-points .points .progressBar {
    padding-inline: 20px;
    padding-bottom: 50px;
}

.RSPBprogressBar {
    height: 5px;
}

.OrderDetails .sections .section .timeLine-points .points .parentStep {
    display: flex;
    color: #1772FF;
    font-size: 12px;
    margin-top: 50px;
    align-items: center;
    flex-direction: column-reverse;
}

.OrderDetails .sections .section .timeLine-points .points .parentStep .step {
    width: 50px;
    font-size: 8px;
    font-weight: bold;
    text-wrap: balance;
}

.OrderDetails .sections .section .timeLine-points .points .address {
    margin-top: 20px;
    text-align: start;
}

.OrderDetails .sections .section .order-details {}

.OrderDetails .sections .section .order-details .cards {}

.OrderDetails .sections .section .order-details .cards .card {
    gap: 10px;
    border: none;
    font-size: 14px;
    position: relative;
    padding-block: 15px;
    flex-direction: row;
    align-items: center;
}

.OrderDetails .sections .section .order-details .cards .card::after {
    content: attr(data-id);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: -15px;
    display: grid;
    color: #fff;
    border-radius: 25px;
    place-content: center;
    border: 1px solid #fff;
    background-color: #424242;
    transform: translateY(-50%);
}

.OrderDetails .sections .section .order-details .cards .card:not(:last-child) {
    border-bottom: 2px solid #00000010;
}

.OrderDetails .sections .section .order-details .cards .card:not(:first-child),
.OrderDetails .sections .section .order-details .cards .card:not(:last-child) {}

.OrderDetails .sections .section .order-details .cards .card .card-img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 7px;
}

.OrderDetails .sections .section .order-details {}

span {
    color: var(--c);
    padding: 3px 5px;
    border-radius: 25px;
    background-color: var(--bg);
}