.content {
    padding: 15px;
    background-color: #ffffff;
}

.content .head {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #80808020;
}

.Profile .head:first-child {
    font-weight: bold;
}

.Profile .row .col {
    display: flex;
    color: #808080;
    align-items: center;
    padding: 5px 15px 5px 0;
    justify-content: space-between;
}

.Profile .row .col span span {
    width: fit-content;
    display: block;
    padding: 3px 5px;
    color: #2078FF;
    font-weight: bold;
    border-radius: 3px;
    background-color: #0d6efd40;
}

.MyOrders .body {
    display: block;
}

.MyOrders .body .cards {
    gap: 20px;
    display: grid;
    padding-top: 15px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.MyOrders .body .cards .card {
    display: flex;
    flex-direction: row;
    position: relative;
    border: 1px solid #80808020;
}

.MyOrders .body .cards .card .card-icon {
    font-size: 30px;
    color: #808080;
    align-self: center;
    padding-inline: 10px;
}

.MyOrders .body .cards .card .card-body {
    background-color: transparent;
}

.MyOrders .body .cards .card .card-body>div {
    gap: 15px;
    display: flex;
    align-items: center;
}

.MyOrders .body .cards .card .card-body>div * {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

.MyOrders .body .cards .card .card-body>div span {
    width: fit-content;
    display: block;
    padding: 3px 5px;
    color: #2078FF;
    font-weight: bold;
    border-radius: 3px;
    background-color: #0d6efd40;
}

.MyOrders .body .cards .card .card-body>div.total {
    margin-top: 10px;
}

.MyOrders .body .cards .card .seeToDetails {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #2078FF;
    font-family: system-ui;
    /* background-color: #E8F2FF; */
}

label {
    font-weight: bold;
}

.Address .content .head button,
button {
    gap: 5px;
    display: flex;
    align-items: center;
}