.DataTable .tableItems {
    overflow-x: auto;
}

.DataTable .tableItems img {
    width: 50px;
    height: 50px;
    border-radius: 7px !important;
}

@media (max-width: 768px) {
    .Meals .Information>div {
        flex-direction: column;
    }

    .Meals .Information>div>div {
        min-width: 100% !important;
    }
}

.DataTable .headerTable {
    padding: 20px;
    color: #454545;
    margin-bottom: 2px;
    background-color: #fff;
}

.DataTable .headerTable label {
    text-transform: uppercase;
}

.DataTable .headerTable .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 640px) {
    .DataTable .headerTable .head {
        gap: 10px;
        flex-direction: column;
    }
}

:where(.css-dev-only-do-not-override-m4timi).ant-btn-default {
    color: #1772ff;
    border-color: #1772ff;
}

@media (max-width: 500px) {
    .DataTable .headerTable .actions {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.DataTable .headerTable .actions .dropListPrint {
    position: relative;
}

.DataTable .headerTable .actions .dropListPrint .listPrint {
    width: 100%;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 100;
    display: none;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.DataTable .headerTable .actions .dropListPrint .listPrint ul {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.DataTable .headerTable .actions .dropListPrint .listPrint li button {
    width: 100%;
    color: #454545;
    border: 1px solid #eaeaea;
}

.DataTable .headerTable .actions .dropListPrint .listPrint li button:hover {
    color: #1772ff;
    background-color: #F3F8FF;
}

.DataTable .headerTable .actions .dropListPrint .listPrint.show {
    display: block;
}

.DataTable .titlePage {
    font-size: 18px;
}



table * {
    border-radius: 0 !important;
}

table,
tr,
th,
td {
    text-align: start !important;
}

table thead tr th {
    padding-block: 10px !important;
}

@media (max-width: 500px) {
    table {
        overflow-x: auto;
    }
}

@media (max-width: 600px) {

    .ant-table th,
    .ant-table td {
        white-space: nowrap;
    }
}

/*! show item page */
.ShowItem {
    padding: 15px;
    border-radius: 7px;
    background-color: #ffffff;
    border: 1px solid #1772FF;
}

.ShowItem .ant-tabs-nav-list .ant-tabs-tab {
    padding-inline: 15px;
}

.ShowItem span {
    gap: 5px;
    display: flex;
    align-items: center;
}

.ShowItem span svg {
    font-size: 18px;
}

.ShowItem p {
    padding-block: 10px;
}
