.formUser {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formUser .btn-color {
    color: #fff;
    background-color: #1b3565;
}

.formUser .btn-color:hover {
    color: #fff;
    background-color: #0e1c36;
}

.formUser .card-body {
    background-color: #ebf2fa;
}

.formUser .card-body label {
    display: block;
    margin-bottom: 5px;
}

.formUser .changeRoute {
    text-align: center;
}

.formUser .changeRoute a {
    margin-left: 7px;
}